
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto%20Mono:400&display=swap');


body {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
}

body .ui-widget {
  font-family: 'Montserrat', sans-serif;
}


/*******************/
/* Section: Header */
/*******************/

div#header {
  height: 164px;
  margin: 10px;
  background: #005AA7;
  border-radius: 0.5em;
  box-shadow: 5px 5px 4px rgba(138, 138, 141, 0.5); 
}

#header img {
  float: left;
  margin: 6px;
  height: 152px;
  width: 152px;
}

#header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 28pt;
  color: white;
  text-align: center;
  padding: 12px 0;
}

#header h1 .double {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

#header h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20pt;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}


/***********************/
/* Section: Navigation */
/***********************/

div#navigation {
  position: absolute;
  left: 0;
  width: 20%
}

#navigation nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 10px;
  border: solid thick #005AA7;
  border-radius: 0.5em;
  box-shadow: 5px 5px 4px rgba(138, 138, 141, 0.5); 
  overflow: hidden;
}

#navigation nav h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: larger;
  text-align: center;
  color: #8A8A8D;
}

#navigation nav a {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 0.5em;
  padding: 0.25em;
  color: #005AA7;
  text-decoration: none;
}

#navigation nav a:hover {
  font-family: 'Montserrat', sans-serif;
  background: #005AA7;
  color: white;
  font-weight: 600;
  text-decoration: underline;
}


/********************/
/* Section: Content */
/********************/

div#content {
  position: absolute;
  right: 0;
  width: 80%
}

div#content > article {
  margin: 10px;
}

#content h2 {
  background: #EEEDEC;
  border-style: none;
  border-radius: 1em;
  padding: 0.5em 2.5em;
  margin: 0 0.5in;
  text-align: center;
  color: #005AA7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24pt;
}

#content h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20pt;
  color: #005AA7;
  margin: 12pt 0.25in 0;
}

#content h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18pt;
  color: #8A8A8D;
  margin: 12pt 0 0;
}

#main .ui-panel {
  border: solid 2pt #005AA7;
  border-radius: 4px;
}

#main .ui-panel-titlebar {
  border-style: none;
  border-radius: 4px;
  margin: 5px;
  background-color: #005AA7;
  background-image: none;
}

#main .ui-panel-titlebar :hover {
  color: #EEEDEC;
  text-decoration: underline;
}

#main .ui-panel-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18pt;
  color: white;
  margin: 12pt 0;
  text-shadow: none;
}

#main .ui-panel-title :link, #main .ui-panel-title :visited {
  color: white;
  text-decoration: none;
}

#main .ui-panel-content {
  border-style: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}


/*****************/
/* Form frames   */
/*****************/

.form-frame {
  background: silver;
  margin: 10px 25px;
  border: solid black;
  padding: 10px 25px;
}

.form-frame input, .form-frame button {
  margin: 5px 15px;
}

.form-frame label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 10pt;
} 

.form-frame .action-button {
  color: white;
  font-weight: bold;
  background: #005AA7;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
