<?xml version="1.0" encoding="UTF-8"?>

<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
    id="WebApp_ID" 
    version="3.1">
    
  <display-name>DOUBLECheck Demo</display-name>
  
  <welcome-file-list>
    <welcome-file>pages/index.xhtml</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/pages/index.xhtml</location>
  </error-page>

  <security-role>
    <description>Generic user of ADSS web site</description>
    <role-name>demo-user</role-name>
  </security-role>

  <security-role>
    <description>High security role for ADSS web site</description>
    <role-name>demo-admin</role-name>
  </security-role>
<!-- 
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ADSS Web Portal</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
-->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ADSS Web Portal</web-resource-name>
      <url-pattern>/pages/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>demo-user</role-name>
      <role-name>demo-admin</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>DOUBLECheck</realm-name>
    <form-login-config>
      <form-login-page>/login.xhtml</form-login-page>
      <form-error-page>/loginerror.xhtml</form-error-page>
    </form-login-config>
  </login-config>

</web-app>
